body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.herogrid {
  padding: 10px;
}

.profilePic {
  border-radius: 50%;
}

.cardContainer {
  padding: 10px;
}

 i.fas,i.fab {
   color: rgb(48, 48, 48)
 }

 .contactMe {
  margin-bottom: 10px;
 }

 .contact {
  text-align: center;
 }

 .sectionHeading {
  text-align: center;
 }
 